#navbar {
    width: 100%;
    z-index: 1;
    position: absolute;
    /*Cambiar posicón a fixed cuando se bjaa X*/
}

#navbar_language_container {
    position: absolute;
    right: 0;
    margin-right: 2vw;
}

#navbar .my_button2 {
    color: white;
}

#navbar_container {
    position: relative;
    padding: 1vh 1vw;
}

#navbar_middle_container {
    position: absolute;
}


#navbar_right_container {
    position: absolute;
    color: white;
}

#navbar_right_container svg path {
    fill: white;
}

#navbar_right_container svg {
    width: 5vw;
    height: 5vh;
}